{% extends 'formTemplate.html' %} 
{% block content%}
<div class="text-center" style="width: 80%; margin: 0 auto">
  <h1>Password Reset Form</h1>
  <p style="width: 60%; margin: 0 auto">
    Please enter your new password.
  </p>
</div>
<br />

<section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <h3><a href="login" class="signup-image-link"><u>Or Login</u></a></h3>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Change password</h2>
                        <form action="password_reset_form" method="POST" class="logn-form" id="login-form">
                            {% csrf_token %}
							{% if error_message %}
                            <p class="bg-danger p-d ml-b" style="color: #ff0000;">{{ error_message }}</p>
                        	{% endif %}
                            <div class="form-group">
                                <label for="newPassword"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="newPassword" id="newPassword" placeholder="New Password"/>
                            </div>
							<div class="form-group">
                                <label for="confirmNewPassword"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="Confirm Password"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Reset password"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


{% endblock%}