{% extends 'formTemplate.html' %} 

{% block content %}

<div class="text-center" style="width: 80%; margin: 0 auto">
  <h2>Welcome to the Password Reset Page</h2>
  <p>
    Forgot your password? Please enter the email address you used to register
    with us and we will send you a link to reset your password
  </p>
</div>
<br/>

<section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <h3><a href="login" class="signup-image-link"><u>Or Login</u></a></h3>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Reset password</h2>
                        <form action="password_reset_sent" method="POST" class="logn-form" id="login-form">
                            {% csrf_token %}
							{% if error_message %}
                            <p class="bg-danger p-d ml-b" style="color: #ff0000;">{{ error_message }}</p>
                        	{% endif %}
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Email"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Reset password"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


		
{% endblock%}
