<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Harmonic-profit - Homepage</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/home/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/home/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/home/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/home/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/home/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/home/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/home/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="static/home/img/logo.png" alt="">
        <span></span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#howItWorks">How it woks</a></li>
          <li class="dropdown"><a href="#"><span>Login/Register</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="login">Login</a></li>
              <li><a href="register">Register</a></li>
            </ul>
          </li>
          <li><a class="getstarted scrollto" href="register">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Really? Earn passive income with worldwide one line global matrix</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Earn X1000 your investment with no referral needed thanks to the power of crowd</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="register" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>About Harmonic-profit</h3>
              <h2>Harmonic Profit has been designed to allow everyone with or without a network to be able to generate a secure and stable income. So you have two ways to earn.</h2>
              <p>
                If you don't like to sponsor, the global one line system allows you to earn every time a new user joins the program across the world. This system allows you to evolve up to level 10 where you more X1000 your investment without sponsoring</br>
				If you have a network you can earn unlimited bonuses for each person who registers and you can acquire the status of Director from 10 referrals.
              </p>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="static/home/img/about.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= How to earn ======= -->
    <section id="howItWorks" class="howItWorks">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>How to earn</h2>
          <p>Here are the three simple steps to start earning unlimited</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="static/home/img/values-1.png" class="img-fluid" alt="">
              <h3>Create an account then activate it.</h3>
              <p>Activate your account with a one-time payment of $ 15. Account activation is required to join the global one line system and is used to fund the referral program</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="static/home/img/values-2.png" class="img-fluid" alt="">
              <h3>Join the global one line system. </h3>
              <p>Join the global system with a lifetime investment of $ 15 which will allow you to earn passively without having to sponsor</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="static/home/img/values-3.png" class="img-fluid" alt="">
              <h3>Start earning in two different ways.</h3>
              <p>Earn passively without sponsorship thanks to the global system, or use your network to earn unlimited sponsorship bonuses</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End how to earn Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-person"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{ us }}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Users</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-credit-card" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{ ti }}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Total invested</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-wallet2" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{% if tw %} {{tw}} {% else %} 0 {% endif %}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Total withdraw</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-person-badge" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{v2}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Visitors online</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Latest payouts Section ======= -->
    <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>How One Line Global System Works</h2>
          <p>Check each level with its payment capacity</p>
        </header>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="200">
          <div class="swiper-wrapper">


            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><h3>Level 1</h3>
                </div>
                <div class="profile mt-auto" style ="background-color:#316de7">
                  <img src="static/home/img/testimonials/testimonials-1.png" class="img-fluid" alt="">
                  <p>Entry:$15</p>
				  <p>Profit:$45</p>
					<p>$30 used to join next level</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide" >
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><h3>Level 2</h3>
                </div>
                <div class="profile mt-auto" style ="background-color:#316de7">
                  <img src="static/home/img/testimonials/testimonials-1.png" class="img-fluid" alt="">
                      <p>Entry:$30</p>
				      <p>Profit:$90</p>
					<p>$60 used to join next level</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><h3>Level 3</h3>
                </div>
                <div class="profile mt-auto" style ="background-color:#316de7">
                  <img src="static/home/img/testimonials/testimonials-1.png" class="img-fluid" alt="">
                      <p>Entry:$60</p>
				      <p>Profit:$180</p>
					<p>$120 used to join next level</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><h3>Level 4</h3>
                </div>
                <div class="profile mt-auto" style ="background-color:#316de7">
                  <img src="static/home/img/testimonials/testimonials-1.png" class="img-fluid" alt="">
                      <p>Entry:$120</p>
				      <p>Profit:$360</p>
					<p>$240 used to join next level</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

			<div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><h3>Level 5</h3>
                </div>
                <div class="profile mt-auto" style ="background-color:#316de7">
                  <img src="static/home/img/testimonials/testimonials-1.png" class="img-fluid" alt="">
                     <p>Entry:$240</p>
				     <p>Profit:$720</p>
					<p>$480 used to join next level</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

			<div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><h3>Level 6</h3>
                </div>
                <div class="profile mt-auto" style ="background-color:#316de7">
                  <img src="static/home/img/testimonials/testimonials-1.png" class="img-fluid" alt="">
	                  <p>Entry:$480</p>
					  <p>Profit:$1440</p>
					<p>$960 used to join next level</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

			<div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><h3>Level 7</h3>
                </div>
                <div class="profile mt-auto" style ="background-color:#316de7">
                  <img src="static/home/img/testimonials/testimonials-1.png" class="img-fluid" alt="">
                      <p>Entry:$960</p>
				      <p>Profit:$2880</p>
					<p>$1920 used to join next level</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

			<div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><h3>Level 8</h3>
                </div>
                <div class="profile mt-auto" style ="background-color:#316de7">
                  <img src="static/home/img/testimonials/testimonials-1.png" class="img-fluid" alt="">
                  	 <p>Entry:$1920</p>
				     <p>Profit:$5760</p>
					<p>$3840 used to join next level</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

			<div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><h3>Level 9</h3>
                </div>
                <div class="profile mt-auto" style ="background-color:#316de7">
                  <img src="static/home/img/testimonials/testimonials-1.png" class="img-fluid" alt="">
	                  <p>Entry:$3840</p>
					  <p>Profit:$11520</p>
					<p>$7680 used to join next level</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

			<div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><h3>Level 10</h3>
                </div>
                <div class="profile mt-auto"  style ="background-color:#316de7">
                  <img src="static/home/img/testimonials/testimonials-1.png" class="img-fluid" alt="">
                     <p> Entry:7680</p>
				    <p> Profit:23040</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- End Latest payouts Section -->


    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">
        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up">
          <h3>Features</h3>

          <div class="row">

            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="static/home/img/features-3.png" class="img-fluid p-4" alt="">
            </div>

            <div class="col-xl-8 d-flex content">
              <div class="row align-self-center gy-4">

                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="ri-line-chart-line"></i>
                  <div>
                    <h4>Secure and reliable investment</h4>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4>Instant withdrawal</h4>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="ri-brush-4-line"></i>
                  <div>
                    <h4>Passive income</h4>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="ri-magic-line"></i>
                  <div>
                    <h4>High income referral program</h4>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="ri-command-line"></i>
                  <div>
                    <h4>Multiple payment options including cryptos</h4>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="ri-radar-line"></i>
                  <div>
                    <h4>Very large community</h4>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div><!-- End Feature Icons -->

      </div>

    </section><!-- End Features Section -->

    <!-- ======= Payment options Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Payment options</h2>
          <p>Check the payment options</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 style="color: #07d5c0;">Payeer</h3>
              <img src="static/home/img/pricing-free.png" class="img-fluid" alt="">
              <a href="register" class="btn-buy">Join Now</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3 style="color: #65c600;">Perfect money</h3>
              <img src="static/home/img/pricing-starter.png" class="img-fluid" alt="">
              <a href="register" class="btn-buy">Join Now</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 style="color: #ff901c;">Coinpayments</h3>(Cryptocurrencies)
              <img src="static/home/img/pricing-business.png" class="img-fluid" alt="">
              <a href="register" class="btn-buy">Join Now</a>
            </div>
          </div>


        </div>

      </div>

    </section><!-- End Payment options Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    What is Global One Line Matrix ?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                   Global One Line Matrix is one Global network based on first enter first Join Basis.It has the advantage of allowing you to evolve from level to level without having to sponsor
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    What Happen with My Activation Fee ?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Activation Fee is instantly paid 1 level above you. They are actually used to fund the referral program.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    What is referral program ?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Referral program is designed on Activation Fees. It allows you to  acquire  different status such as AMBASSADOR or DIRECTOR
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                   Is it possible to earn Passively with Harmonic-profit ?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Yes, Of Course. As Harmonic-profit is Global One Line Matrix Based System. Every New User who Joins after you falls under you in one Monoline.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    I don't have Referral link, can I register with Harmonic-profit ?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Yes, You Just Have to Enter "Harmonic-profit" in the "ReferredBy" on registration.
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    My 10th Level is complete and I received X1000 my investment, what's next now ?
                  </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
						Congratulations! You are free to enter the system as much as you want
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section><!-- End F.A.Q Section -->


    <!-- ======= Other sites Section ======= -->
    <section id="clients" class="clients">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Featured Sites</h2>
          <p>Trend investment program</p>
        </header>

        <div class="clients-slider swiper-container">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="static/home/img/clients/client-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/img/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/img/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/img/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/img/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/img/clients/client-8.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section><!-- End other sites Section -->

    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="/" class="logo d-flex align-items-center">
              <img src="static/home/img/logo.png" alt="">
              <span></span>
            </a>
            <div class="social-links mt-3">
              <a href="#" class="telegram"><i class="bi bi-telegram"></i>Telegram channel</a>
            </div>
          </div>

          <div class="col-lg-3 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">How it works</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              <strong>Email:</strong> info@harmonic-profit.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
         <script>document.write(new Date().getFullYear())</script> <a href="/">Harmonic-profit</a>, Powered by Avalanche.Inc
      </div>
     <!--  <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
       <!--  Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> 
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
-->
  <!-- Vendor JS Files -->
  <script src="static/home/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="static/home/vendor/aos/aos.js"></script>
  <script src="static/home/vendor/php-email-form/validate.js"></script>
  <script src="static/home/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/home/vendor/purecounter/purecounter.js"></script>
  <script src="static/home/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/home/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/home/js/main.js"></script>

</body>

</html>